################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AuthPOC/obj
/.vs/AuthPOC/FileContentIndex
