################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AuthPOC/FileContentIndex
/AuthPOC/obj
/AuthPOC/bin/Debug/net8.0
/.vs/AuthPOC/config
/.vs/AuthPOC/DesignTimeBuild
